<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LunchBox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsjrEdvrdJgRBgLoz_dMIgNtUUuRn76II&libraries=places"></script>
  </head>
  <body>
    <div id='root'/>
    <script src="/bundle.js"></script>
  </body>
</html>
