@import "../../global_styles/colors"
@import "../../global_styles/shared_styles"

.title
  color: $primary-red

.content
  font-size: 20px
  color: $primary_navy

.pollContainer
  padding: 0 200px

.optionsContainer
  padding: 20px 15px 25px 15px

.pollHeading
  text-align: center
  font-weight: 900
  font-size: 42px
  margin: 35px 75px 25px 75px
  padding-top: 20px

.input
  font-size: 18px
  font-weight: 500
