@import "../../styles/colors"
@import "../../styles/shared_styles"

.buttonLink
  width: 100%
  height: 100%
  color: $primary-red !important
  text-decoration: none
  line-height: 42px
  display: block
  padding: 0 12px

.btnPrimary
  width: 170px
  height: 48px
  display: block
  margin: 0 auto
  padding: 10px
  color: $white
  background-color: $button-blue
  font-size: 19px
  border: none


  &:hover
    color: $white
    background-color: $button-blue
    border-color: $white

  &:focus
    color: $white
    background-color: $button-blue
    border-color: $white
    outline:0

  &:active:focus
    color: $white
    background-color: $button-blue
    border-color: $white

.btnPopup
  background-color: $white
  border-color: $white
  color: $primary-red
  font-size: 16px
  width: auto
  min-width: 100px
  height: auto
  margin-top: 45px

  &:hover
    color: $primary-red
    background-color: $white
    border-color: $white

  &:focus
    color: $primary-red
    background-color: $white
    border-color: $white
    outline:0

  &:active:focus
    color: $primary-red
    background-color: $white
    border-color: $white

.noPadding
  padding: 0 !important
