@import "../../global_styles/colors"
@import "../../global_styles/shared_styles"

.btnPrimary
  display: block
  margin: 0 auto
  padding: 10px
  color: $white
  background-color: $button-blue
  font-size: 16px

  &:hover
    color: $white
    background-color: $button-blue
    border-color: $white

  &:focus
    color: $white
    background-color: $button-blue
    border-color: $white

  &:active:focus
    color: $white
    background-color: $button-blue
    border-color: $white

.btnPopup
  background-color: $white
  border-color: $white
  color: $primary-red

  &:hover
    color: $primary-red
    background-color: $white
    border-color: $white

  &:focus
    color: $primary-red
    background-color: $white
    border-color: $white
