@import "../../global_styles/colors"
@import "../../global_styles/shared_styles"

.btnPrimary
  display: block
  margin: 0 auto
  padding: 10px
  background-color: $white
  border-color: $white
  color: $modal-red
  font-size: 16px

  &:hover
    color: $modal-red
    background-color: $white
    border-color: $white

  &:focus
    color: $modal-red
    background-color: $white
    border-color: $white
