@import "../../styles/colors"
@import "../../styles/shared_styles"
@import "./stylesheet"

.popupOverlay
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  background-color: $overlay-grey
  opacity: 1
  transition: .3s;

  &.showing
    opacity: 0
    -webkit-transition: .2s; /* Safari */
    pointer-events: none
    transition: .3s;


.popup
  width: 700px
  height: 448px
  padding: 60px 30px
  background-color: $primary-red
  color: $white
  text-align: center
  font-size: 24px
  font-weight: 300
  border: solid 1px $border-grey
  position:absolute
  top: 25%;
  left: 50%;
  margin-left: (@width / -2)
  margin-top: (@height / -4)

  hr
    margin-left: 30px
    margin-right: 30px

.popupMessage
  @extend .popup
  height: 420px

.logo
  font-size: 36px

.message
  font-size: 22px

  a
    color: $white
    font-size: 17px
    text-decoration: underline

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #fff
  margin-top: 20px
  margin-bottom: 45px

.bottomSection
  position: relative

  .alertMessage
    margin-top: 10px
    font-style: italic
    font-size: 14px
    position: absolute
    width: 103%

.btnContainer
  width: 300px
  margin: 0 auto

.btnInline
  float: left
  button
    margin-left: 20px
    margin-right: 10px
