@import "../../styles/colors"
@import "../../styles/shared_styles"
@import "./stylesheet"

.popup
  width: 662px
  height: 448px
  padding: 60px
  background-color: $primary-red
  color: $white
  text-align: center
  font-size: 24px
  font-weight: 300
  border: solid 1px $border-grey
  position:absolute
  top: 25%;
  left: 50%;
  margin-left: (@width / -2)
  margin-top: (@height / -4)

.logo
  font-size: 36px

.message
  font-size: 22px

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #fff
  margin-top: 20px
  margin-bottom: 45px
