@import "../../global_styles/colors"
@import "../../global_styles/shared_styles"

.logo
  color: $white
  font-size: 36px

.input
  padding-left: 20px
  padding-right: 20px
  font-weight: 400
  width: 350px

.formGroup
  input
    @media (min-width: 768px)
      width: 250px !important

a:hover
  text-decoration: none
  color: $white
