@import "../../styles/colors"
@import "../../styles/shared_styles"

.logo
  color: $white
  font-size: 28px

.input
  display: inline-block
  padding-left: 20px
  padding-right: 20px
  font-weight: 300
  width: 350px
  box-shadow: none

.formGroup
  input
    @media (min-width: 768px)
      width: 250px !important

a:hover
  text-decoration: none
  color: $white
