$primary-red = #fc4349
$primary-blue = #345995
$primary-navy = #2c3e50

$button-red = rgba(252, 67, 73, 0.85)
$button-blue = rgba(52, 89, 149, 0.8)
$button-navy = rgba(44, 62, 80, 0.9)

$background-blue = rgba(109, 188, 219, 0.15)
$grey-subtitle = #7988a0
$modal-red = #ed4d53
$white = #ffffff
$overlay-grey = #ebebeb
$border-grey = #979797
