@import "../../global_styles/colors"
@import "../../global_styles/fonts"

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.title
  text-align: center
  font-family: $heading
  font-weight: 900

.content
  text-align: center
  font-family: $content
  font-weight: 300

.logo
  text-align: center
  font-family: $content
  font-size: 48px
  font-weight: 900

.form
  padding-top: 20px
  padding-bottom: 25px
  font-size: 20px

.input
  border-radius: 5px
  height: 35px
  font-size: 16px

.controlLabel
  font-weight: 300
  font-family: $content
  padding-right: 20px

.dropdown
  width: 150px
