@import "../../global_styles/colors"
@import "../../global_styles/fonts"

.title
	text-align: center
	font-family: $heading

.content
	text-align: center
	font-family: $content
	font-size: 26px
	font-weight: 300

.logo
	text-align: center
	font-family: $content
	font-size: 48px
	font-weight: 900

.form
	padding-top: 20px
	padding-bottom: 25px
	font-size: 20px

.input
	border-radius: 5px
	height: 35px
	width: 250px

.controlLabel
	font-weight: 300
	font-family: $content
	padding-right: 20px
