@import "../../global_styles/colors"
@import "../../global_styles/shared_styles"

body
	color: $white

.popup
	background-color: $modal-red
	width: 662px
	height: 448px
	border: solid 1px $border-grey

.content
	font-size: 26px
	font-weight: 300

.title
	font-size: 48px
	font-weight: 900
